@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Nunito', sans-serif;
}

.text {
  color: rgba(20, 20, 21, 0.75);
}

.wish-icon {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 8px 0px rgba(47, 73, 84, 0.12);
}

.text-outfit {
  color: rgba(20, 20, 21, 1);
}

.best-sellers{
  background: rgba(253, 251, 249, 1);
}

.best-sellers-div {
  background: rgba(10, 59, 90, 1);
  color: rgba(255, 255, 255, 1);
}

.best-seller-grid {
  border: 1px solid rgba(241, 224, 210, 1);
  border-top: 0;
}